body {
  padding: 4rem;
}

h1{
  color: red;
}

.example {
  margin-top: 4rem;
}

.footer {
  padding-top: 4rem;
}

.header {
  margin-bottom: 6rem;
}

.wrapper-full {
  max-height: 800rem !important;
}

.wrapper {
  border-top: #D2D2D2 1px solid;
  border-bottom: #D2D2D2 1px solid;

  position: relative;
  max-height: 10rem;
  overflow: scroll;
  transition: all 0.5s ease;
}
