body {
  padding: 4rem;
}

h1{
  color: red;
}

.example {
  margin-top: 4rem;
}

.footer {
  padding-top: 4rem;
}

.header {
  margin-bottom: 6rem;
}

iframe {
  max-height: 10rem;

  border-top: #D2D2D2 1px solid;
  border-bottom: #D2D2D2 1px solid;
  transition: all 0.5s ease;
}

.iframe-full {
  max-height: 100% !important;
}
