body {
  padding: 8vw;
}

* {
  box-sizing: border-box;
}

h1{
  color: red;
}

.example {
  margin-top: 4rem;
}

.footer {
  padding-top: 4rem;
}

.header {
  margin-bottom: 6rem;
}

.wrapper-full {
  max-height: 300rem !important;
}

iframe {
  position: relative;
  display: block;
}

.wrapper {
  border-top: #D2D2D2 1px solid;
  border-bottom: #D2D2D2 1px solid;

  position: relative;
  max-height: 10rem;
  overflow: scroll;
  transition: all 0.5s ease;
}

@media only screen and (max-width : 500px) {
  body {
    padding: 0.8rem;
    padding-top: 2rem;
  }
}
